:root {
    font-size: 16px;
    font-family: 'system-ui', sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg--header: brown;
    --bg--catalogue: rgb(250, 235, 230);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*Header styling*/
.header {
    background: var(--bg--header);
    color: var(--text-secondary);
    height: 10%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem;
}

/*Catalogue styling*/
.books {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 2rem 2rem;
    padding: 2rem;
    background: var(--bg--catalogue);
    height: 90%;
    width: 100vw;
}

/*Book elements styling*/
.book {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg--catalogue);
    border-radius: 0.6rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    min-width: 300px;
    min-height: 1fr;
    padding: 2rem;
}
.delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: darkred;
    color: white;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 900;
}
.book-title {
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 8px;
    margin-bottom: 0.5rem;
    font-style: oblique;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}
.book-author {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.book-pages {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.book-read {
    display: flex;
    align-items: center;
}
.book-read > input {
    cursor: pointer;
}
.book-status {
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 5px;
}
.edit-btn {
    background-color: var(--bg--catalogue);
    width: 100px;
    align-self: center;
}

/*Read status toggle*/
.read-unchecked {
    border-left: 10px solid darkred;
}
.read-checked {
    border-left: 10px solid darkgreen;
}